body {
  background-color:rgb(164, 164, 164, 1);
}
/*
   Section pertaining to the navigation menu button (top right,
 three line icon).
 * Menu_Button : Overall button container. Contains the three 
     as individual opbjects.
 * bar1,bar2,bar3 : Classes for the three bars comprising the 
     bars of the icon.
*/
#Menu_Button {
  height:10%;
  width: 10%;
  background-color: #222222;
  top:10;
  right:10;
  position:fixed;
  cursor:pointer;
  border-radius:15%;
  margin-right:10px;
  margin-top: 10px;
  opacity: 1;
}
#Menu_Button:hover {
  opcaity
}

.bar1, .bar2, .bar3 {
  display:block;
  margin: auto;
  margin-top: 11px;
  width:40px;
  height:7px;
  background-color: #DDD;
}
/*-----------------------------------------------------------*/

/*
    Section pertaining to the home section of the page. Contains
  profile picture, and box containing name, and degrees.
  * Home : Overarching container holding picture and certifications
  * Profile-Picture : profile picture
		(NOTE: need to find dynamic sizing solution)
  * section-title : container for name and certifications
*/

#Home {
  width:100%;
  height:130%;
  background-image:url("../images/sequoia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity:.65;
}

#Profile-Picture {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top:100px;
  transform: rotate(-90deg);
  border-radius:75%;
}

.section-title {
  margin:auto;
  margin-top:35px;
  width:50%;
  background-color:rgb(0, 0, 0, .85);
  text-align: center;
}

p.name {
  color:rgb(255, 255, 255, 1);
  font-size: 45px;
}

p.cert {
  color: rgb(200, 200, 200, 1);
  font-size: 23px;
}
/*-----------------------------------------------------------*/

/*
    Qualifications section containing mostly text. Primarily 
  consisting if text blocks.
*/
#Qualifications {
  width:100%;
  height:90%;
  background-image:url("../images/sequoia_garden.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity:.65;
}

#Contact {

}

/*
   General formatting settings for text entries throughout page.
*/

.text-entry {
  display:block;
  width: 100%;
  height: 250px;
  background-color: rgb(164, 164, 164, 1);
}
p.title {
  text-align:center;
  padding-top: 20px;
  font: 30px sans-sarif;
}
p.statement-text {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  font: 15px monospace;
  text-indent:50px;
}
